html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**********************GENERALES****************/

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0F0F0F;
    font-family: 'Gelasio', serif;
    font-size: 1.6rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

section {
    min-height: 40rem;
    max-height: 100%;
}

img {
    max-width: 100%;
}


/******************************************************************/


/*********UTILIDADES******************/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

@media(min-width:678px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}


/*   fondo con logo */

#servicios,
#contacto {
    background-color: gray;
    background-image: url("../img/MUESTRA\ FONDO\ HD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*************************************/


/******HEADER**************************/

.site-header {
    background-image: url(../img/Fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 1rem;
}

.site-header a {
    color: #fff;
    text-decoration: none;
}


/*.barra {
    background-color: rgba(255, 255, 255, 0.5);
}*/


/***navegacion movil***/

.navegacion-movil {
    height: 5rem;
    width: 5rem;
}

.navegacion-movil span {
    width: 100%;
    background-color: #fff;
    display: block;
    height: 1rem;
    margin: .5rem 0px;
}


/***navegacion***/

.navegacion {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    position: absolute;
    width: 95%;
    margin: 0 auto;
    display: none;
}

.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    margin: 1rem auto;
}

@media(min-width:678px) {
    .barra {
        padding-top: 2.5rem;
        display: flex;
        justify-content: flex-end;
    }
    .navegacion {
        display: block;
        width: auto;
        background-color: transparent;
    }
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a::last-of-type {
        margin: 0;
    }
    .navegacion-movil {
        display: none;
    }
}


/***texto-header**/

.texto-header {
    text-align: center;
    margin-top: 40vh;
}

.texto-header h1 {
    font-size: 2.7rem;
    font-weight: bold;
    color: black;
}

.texto-header h1 span {
    font-size: 1.6rem;
    text-align: center;
    display: block;
}

@media(min-width:678px) {
    .texto-header {
        margin-top: 50vh;
    }
    .texto-header h1 {
        font-size: 5rem;
    }
}

button {
    margin: 3rem auto;
    background-color: blue;
    padding: 1.2rem;
    border: none;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.6rem;
}


/************************************************/


/******************SOBRE MI**********************/


/************************************************/


/******************SERVICIOS**********************/


/************************************************/