html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**********************GENERALES****************/

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0F0F0F;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    /*200-300-500-700*/
    letter-spacing: .1rem;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

section {
    min-height: 40rem;
    max-height: 100%;
}

img {
    max-width: 100%;
}

h1 {
    text-shadow: 0.1em 0.1rem 0.06em #D2D6F2
}

p {
    letter-spacing: 0;
}


/******************************************************************/


/*********UTILIDADES******************/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

@media(min-width:678px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}


/*   fondo con logo */

#servicios,
#contacto {
    background-color: gray;
    background-image: url("../img/MUESTRA\ FONDO\ HD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*************************************/


/******HEADER**************************/

.site-header {
    background-image: url(../img/Fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 1rem;
}

.site-header a {
    color: #fff;
    text-decoration: none;
}


/*.barra {
    background-color: rgba(255, 255, 255, 0.5);
}*/


/***navegacion movil***/

.navegacion-movil {
    height: 5rem;
    width: 5rem;
}

.navegacion-movil span {
    width: 100%;
    background-color: #fff;
    display: block;
    height: 1rem;
    margin: .5rem 0px;
}


/***navegacion***/

.navegacion {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    position: absolute;
    width: 95%;
    margin: 0 auto;
    display: none;
}

.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    padding: 1rem auto;
}

@media(min-width:678px) {
    .barra {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
    }
    .navegacion {
        display: block;
        width: auto;
        padding-top: 1rem;
    }
    .navegacion a {
        display: inline;
        font-weight: 300;
        padding: 1rem 1rem .5rem 1rem;
    }
    .navegacion a::last-of-type {
        margin: 0;
    }
    .navegacion-movil {
        display: none;
    }
    .navegacion :hover {
        border-bottom: .2rem solid #fff;
        transition-duration: 0.8s;
    }
}


/***texto-header**/

.texto-header {
    text-align: center;
    margin-top: 45vh;
}

.texto-header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: black;
    width: 100%;
}

.texto-header h1 span {
    font-size: 1.6rem;
    text-align: center;
    display: block;
    text-shadow: none;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .4);
}

@media(min-width:678px) {
    .texto-header {
        margin-top: 45vh;
    }
    .texto-header h1 {
        font-size: 8rem;
    }
    .texto-header h1 span {
        width: 100%;
    }
}

button {
    margin: 3rem auto;
    background-color: blue;
    padding: 1.2rem;
    border: none;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.6rem;
}


/************************************************/


/******************SOBRE MI**********************/

#sobremi .redes {
    display: flex;
    justify-content: center;
}


/************************************************/


/******************SERVICIOS**********************/

#servicios {
    padding: 2rem 0;
    text-align: center;
}

@media(min-width:678px) {
    #servicios {
        padding: 8rem 0;
        text-align: center;
    }
}

.serv1,
.serv2,
.serv3 {
    border: .1rem solid white;
    border-radius: .5rem;
    margin: 2rem auto;
}

#servicios h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

#servicios p {
    text-align: justify;
    margin: 1rem;
}

#servicios .img {
    position: relative;
    width: 100%;
    height: 25rem;
    background-color: rgba(255, 255, 255, .4);
}

#servicios .btn-serv {
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 0;
    margin: 1rem 0 0 0;
}


/************************************************/